*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hidden{
    display: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 0 auto;
    margin-top: 20px;
}
.title{
    font-size: 48px;
    color: rgb(0, 132, 255);
    margin: 30px auto 10px;
}
.subtitle{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.subtitle a{
    font-size: 16px;
    text-decoration: underline;
    color: rgb(0, 132, 255);
    font-weight: 100;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 5px;
}
.todo_input{
    width: 90%;
    margin: 0 auto;
    padding-left: 10px;
    height: 30px;
    outline: none;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
}
.todo_input:hover{
    transition: all .5s ease-in-out;
    background-color: rgb(242, 250, 255);
}
.todo_input:focus{
    transition: all .5s ease-in-out;
    background-color: rgb(242, 250, 255);
}
.todo_btn{
    width: 10%;
    height: 30px;
    background-color: rgb(0, 106, 255);
    border: 1px solid;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-right: 26px;
    margin-top: 5px;
}
.todo_btn:hover{
    transition: all .5s;
    background-color: transparent;
    color: rgb(0, 106, 255);
    font-weight: 600;
    border: 1px solid rgba(0, 106, 255, 1);
    box-shadow: 0px 0px 0px 4px rgba(0, 106, 255, 0.5);
}
.list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}
.item{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    width: 90%;
    border: 1px solid;
    margin: 0 auto;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    padding-left: 10px;
    margin-top: 10px;
}
.item-text{
    width: 50%;
    margin: auto 0;
}
.icon{
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 50%;
    cursor: pointer;
}
.icon-1{
    color: rgb(0, 255, 76);
    position: absolute;
    right: 31px;
    top: 7px;
}
.icon-2{
    color: rgb(169, 0, 0);
    position: absolute;
    top: 7px;
    right: 10px;
    width: 15px;
    height: 15px;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 753px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid;
}
.modal{
    position: absolute;
    top: 80%;
    z-index: 1;
    background-color: #fff;
    width: 20%;
    height: 140px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.up-part{
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px 10px;
}
.close-icon{
    margin-left: 140px;
    cursor: pointer;
}
.down-part{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.edit_input{
    width: 90%;
    height: 25px;
    margin: 0 auto;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    margin-bottom: 20px;
}
.edit_input:hover{
    transition: all .5s;
    box-shadow: 0 0 0 2px rgba(52, 177, 255, 0.4);
}
.edit_btn{
    width: 100px;
    height: 30px;
    margin-left: 190px;
    padding: 2px 0 0 0;
    background-color: rgb(53, 255, 188);
    border: 1px solid aquamarine;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.edit_btn:hover{
    transition: all .5s;
    background-color: #fff;
    color: rgb(53, 255, 188);
    border: 2px solid rgb(53, 255, 188);
    font-weight: 700;
}